#my_div {
  width: 100%;
  height: 100px;
  line-height: 35px;
  background-color: #FFF;
  margin-bottom: 12px;
  margin-top: 12px;
  border: 1px solid #d3d6db;
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  color: #6a7480;
  font-size: 300%;
}

#my_time {
  text-align: center;
}